@import './params.scss';

@mixin wh($width, $height) {
	width: $width;
	height: $height;
}

@mixin sclh($size, $color,$lineHeight:$size) {
	font-size: $size;
	color: $color;
	line-height: $lineHeight;
}

@mixin fj($type:space-between) {
	display: flex;
	justify-content: $type;
}

@function rem2px($rem) {
	@return $rem * 23.4375px;
}

@mixin devborder() {
	border: 1px solid red;
}

@mixin fade() {
	.fade {
		&-enter-active, &-leave-active {
			opacity: 1;
			transition: opacity .8s;
		}
		&-enter, &-leave-to {
			opacity: 0;
		}
	}
}

@mixin flex($type:space-between, $align:center) {
	display: flex;
	justify-content: $type;
	align-items: $align;
}