@import './params.scss';

@mixin wh($width, $height) {
	width: $width;
	height: $height;
}

@mixin sclh($size, $color,$lineHeight:$size) {
	font-size: $size;
	color: $color;
	line-height: $lineHeight;
}

@mixin fj($type:space-between) {
	display: flex;
	justify-content: $type;
}

@function rem2px($rem) {
	@return $rem * 23.4375px;
}

@mixin text-hidden {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin devborder() {
	border: 1px solid red;
}

@mixin fade() {
	.fade {
		&-enter-active, &-leave-active {
			opacity: 1;
			transition: opacity .8s;
		}
		&-enter, &-leave-to {
			opacity: 0;
		}
	}
}

@mixin flex($type:space-between, $align:center) {
	display: flex;
	justify-content: $type;
	align-items: $align;
}

@mixin flex-center($type:center, $align:center) {
	display: flex;
	justify-content: $type;
	align-items: $align;
}

@mixin flex-stretch($type:start, $align:stretch) {
	display: flex;
	justify-content: $type;
	align-items: $align;
}

@mixin title16 {
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

@mixin title20 {
	font-size: 20px;
	font-weight: 600;
	color: #000;
}

@mixin text12 {
	font-size: 12px;
	color: gray;
}

@mixin halfPx {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	color: #D9D9D9;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

@mixin halfPx-top {
	@include halfPx;
	width: 100%;
	height: 200%;
	border-top: 1px solid #D9D9D9;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

@mixin halfPx-bottom {
	@include halfPx;
	width: 100%;
	height: 200%;
	border-bottom: 1px solid #D9D9D9;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

@mixin halfPx-left {
	@include halfPx;
	height: 100%;
	width: 200%;
	border-left: 1px solid #D9D9D9;
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
}

@mixin halfPx-right {
	@include halfPx;
	height: 100%;
	width: 400%;
	border-right: 1px solid #D9D9D9;
	-webkit-transform: scaleX(.25);
	transform: scaleX(.25);
}

@mixin hmf-header($headerHeight,$bgc:#fff) {
	background-color: $bgc;
	@include flex-center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	height: $headerHeight;
}

@mixin hmf-main($headerHeight) {
	margin-top: $headerHeight;
	@include flex(flex-start, stretch);
	flex-direction: column;
	background-color: #fff;
	flex-grow: 1;
}

@mixin hmf-footer {
	@include flex(flex-start, stretch);
	position: fixed;
	bottom: 0;
	box-shadow: 0 0 5px 0 $bdc;
	width: 100%;
	background-color: #fff;
	z-index: 999;
}

@mixin header-main-footer($headerHeight,$bgc:#fff) {
	@include flex-stretch;
	flex-direction: column;
	&-header {
		@include hmf-header($headerHeight,$bgc);
		// background-color: $bgc;
		// @include flex-center;
		// position: fixed;
		// width: 100%;
		// top: 0;
		// z-index: 999;
		// height: $headerHeight;
	}
	&-main {
		@include hmf-main($headerHeight);
		// margin-top: $headerHeight;
		// @include flex(flex-start, stretch);
		// flex-direction: column;
		// background-color: #fff;
	}
	&-footer {
		@include hmf-footer;
		// @include flex(flex-start, stretch);
		// position: fixed;
		// bottom: 0;
		// box-shadow: 0 0 5px 0 $bdc;
		// width: 100%;
		// background-color: #fff;
		// z-index: 999;
	}
}


@mixin header {
	@include flex-stretch;
	.left {
		position: absolute;
		left: 0;
		padding-left: 10px;
		@include flex-center;
		height: inherit;
	}
	.main {
		flex-grow: 1;
		@include flex-center;
	}
	.right {
		position: absolute;
		right: 0;
		padding-right: 10px;
		@include flex-center;
		height: inherit;
	}
}